<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EcommerceApp</display-name>
  <servlet>
	<servlet-name>SignUPController</servlet-name>
	<servlet-class>ma.ensa.client.SignUPController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>SignUPController</servlet-name>
	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>SignINController</servlet-name>
	<servlet-class>ma.ensa.client.SignINController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>SignINController</servlet-name>
	<url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>ArticleController</servlet-name>
	<servlet-class>ma.ensa.article.ArticleController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ArticleController</servlet-name>
	<url-pattern>/ArticleController</url-pattern>
  </servlet-mapping>
    <servlet>
	<servlet-name>PanierController</servlet-name>
	<servlet-class>ma.ensa.panier.PanierController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>PanierController</servlet-name>
	<url-pattern>/PanierController</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>PanierAllController</servlet-name>
	<servlet-class>ma.ensa.panier.PanierAllController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>PanierAllController</servlet-name>
	<url-pattern>/PanierAllController</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>PanierDeleteController</servlet-name>
	<servlet-class>ma.ensa.panier.PanierDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>PanierDeleteController</servlet-name>
	<url-pattern>/PanierDeleteController</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>accueil.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>